* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #ffdfcb;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 120px; 
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ff7300;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.navbar-title {
    color: white;
    font-size: 1em;
    font-weight: poppins;
    text-align: center;
}

.header-logo-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -80px; 
    width: 80%;
    padding: 0 20px;
}

.header-logo-icons .logo {
    max-height: 300px;
    margin: 0 320px; /* Aumenta el margen derecho para mover el logo más a la derecha */
}

.icon-left {
    width: 40px; 
    height: auto;
    cursor: pointer;
}

.icon-container {
    display: flex;
    align-items: center;
}

.icon-container .icon {
    margin-left: 10px;
    width: 40px; 
    height: auto;
    cursor: pointer;
}

.search-icon {
    width: 40px; /* Ajustado para que tenga un tamaño válido */
    height: auto;
    cursor: pointer;
    margin-right: 10px; 
}

.login-container {
    background-color: #fff;
    padding: 40px 30px;
    border-radius: 15px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
    margin: 20px auto; /* Centrar el formulario */
    position: relative; /* Para el posicionamiento dentro del contenedor */
    top: -80px; /* Ajustar la posición del formulario */
}

.login-container h2 {
    color: #ff0000;
    font-size: 1.8em;
    margin-bottom: 30px;
    font-weight: 600;
}

.login-container label {
    display: block;
    text-align: left;
    font-size: 0.9em;
    color: #666;
    margin-bottom: 8px;
}

.login-container input {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1em;
    transition: border-color 0.3s;
}

.login-container input:focus {
    outline: none;
    border-color: #ff2600;
}

.login-container button {
    width: 100%;
    padding: 12px 0;
    background-color: #ff4d00;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.error-message {
    color: red;
    font-size: 0.9em;
    margin-bottom: 20px;
}

.login-container button:hover {
    background-color: #f94716a0;
}

@media (max-width: 400px) {
    .login-container {
        width: 90%;
    }

    .header-logo-icons .logo {
        max-height: 60px;
    }
}
